img {
    max-width:65%;
    height:auto;
}
h1 {
    color: #000000;
    text-align: center;
    position:relative;
}
h3 {
    color: #000000;
    text-align: center;
    position:relative;
}   

h4 {
    color: #000000;
    text-align: center;
    position:relative; }